// Media queries for mobile

@media only screen and (max-width: 360px) {

  // typography
  html {
    font-size:0.6em;
  }

  p {
    font-size:1.3em;
  }

  // content
  img.logo {
    width: 100%;
  }

  header {
    flex-wrap: wrap;

    & > * {
      flex-basis: 100%;
    }

    nav ul {
      padding-right: 0;
      display: flex;

      li {
        display: flex;
        align-items: center;

        a {
          font-size:1.1em;
          text-align: center;
        }
      }
    }
  }

  main {
    section {
      min-width:30vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        flex-basis: 100%;
      }

      &.reversed {
        align-items: center;
      }

      &.hero {

        h1 {
          font-size:3.4em;
          padding-bottom:1em;
        }

        h2 {
          font-size:2em;
        }
      }
    }
  }

  main section {
    flex-basis:100%;
  }
}