@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Raleway');

// bower:scss
// endbower

// import other sass files
@import "variables";
@import "typography";
@import "media-queries";

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: #333;
}

p {
  max-width:30em;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  background: #777;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 2em 5em;

  ul {
    display: flex;
    padding:0;
    list-style-type: none;

    li {

      a {
        text-decoration: none;
        color: white;
        padding:10px;
      }
    }
  }
}

main {
  background: #CCCCCC;
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    padding:2em 5em;

    &.hero {
      align-items: center;
    }

    &.reversed {
      h3, p {
        align-self: flex-end;
      }

      p {
        text-align: right;
      }
    }
  }
}
